<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>toTestWeb</key>
	<string>http://www.baidu.com</string>
	<key>toTestVC</key>
	<string>TestViewController</string>
</dict>
</plist>
